**/node_modules
**/.pnpm-store

**/build
**/dist
**/.svelte-kit
**/.turbo

**/bin

**/coverage
**/playwright-report
**/allure-*
**/test-results

.idea
.vscode
.DS_Store
**/*.log

**/.env
**/.env.*
!**/.env.template
!**/.env.*.template

.git
.gitignore
.github

openspec
.claude/projects
